body {
    margin: 0;
    background: #1b1f2f;
    overflow: hidden;
    font-family: pixel, sans-serif;
}

#loading-screen {
    width: 100vw;
    height: 100vh;
    background: url("bg_snow.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-bar {
    width: 60%;
    height: 20px;
    border: 2px solid #fff;
    margin-top: 20px;
}

#loading-fill {
    height: 100%;
    width: 0%;
    background: #5bc0ff;
}

#pengu-anim {
    width: 80px;
    height: auto;
}
