
body { margin:0; background:#78c8ff; font-family:Arial; display:flex;
justify-content:center; align-items:center; height:100vh; }
.hidden { display:none; }
#menu,#shop,#leaderboard {
    background:white; padding:25px; border:3px solid black; border-radius:12px; text-align:center;
}
#game { border:4px solid black; background:#ccecff; }
