body {
    margin: 0;
    background: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 3px solid #000;
    background: #d0f4ff;
}
