body {
    margin: 0;
    background: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#game { display:none; border:3px solid black; background:#c7f3ff; }
#paywall {
    background:white; padding:20px; border-radius:10px;
    text-align:center; border:2px solid black;
}
